<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id="student" class="john_manuel.genspark.Student">
        <constructor-arg name="id" value="0001"/>
        <constructor-arg name="name" value="Jay"/>
        <constructor-arg name="ph">
            <list>
                <ref bean="phone"/>
            </list>
        </constructor-arg>
        <constructor-arg name="add" ref="address"/>
    </bean>

    <bean id="phone" class="john_manuel.genspark.Phone">
        <property name="mob" value="916-555-2134"/>
    </bean>

    <bean id="address" class="john_manuel.genspark.Address">
        <property name="city" value="Casa Grande"/>
        <property name="state" value="Arizona"/>
        <property name="country" value="USA"/>
        <property name="zipcode" value="85122"/>
    </bean>
</beans>